/* GENERAL */
.main{
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}

/* BACKGROUND */
.background{
    height: 100vh;
    /* Gradiente per sfondo */
    background-image: linear-gradient(to bottom,
    #009688 0px,
    #009688 15vh,
    #dddbd1 15vh,
    #d2dbdc 100%);
}

/* PROFILE IMAGE */
.img-size{
    width: 60px;
    height: 60px;
}

.small-text{
    font-size: 0.8em;
}

/* RESET P */
p{
    margin-bottom: 0;
}

.sent{
    background-color: #D8F8BF;
}

.received{
    background-color: white;
}

.chatBackground{
    background-image: url(./../img/mine.jpg);
}

.message-container{
    background-color: #F1EEED;
}

.contactsContainer{
    overflow: hidden;
}
.contactsList{
    overflow: scroll;
}

le colonne a 100% di altezza
d-flex a col 4 poi column
div contenitore della lista hidden
ul max height 100% poi scroll
